/* font-family*/
/* @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fff;
  --dark: #181b24;
  --grey: #899495;
  --yellow: yellow;
  --orange: #fc5130;
  --sectionGrey: #f2f2f2;
  --white: #fff;
  --backgroundColor: rgb(104, 174, 240);
}

/* in body we define the font-family for whole page (and not in universal selector) */
/* body {
  font-family: 'Roboto Mono', monospace;
} */

h1,
h2,
h3 {
  letter-spacing: 5px;
  /* line-height: 2em; */
  word-spacing: 10px;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.seperator {
  height: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: var(--backgroundColor);
  width: 15rem;
}

a {
  text-decoration: none;
  color: blue;
}

/*********************
    track
**********************/
.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.track_title {
  color: var(--white);
  background-color: var(--backgroundColor);
  font-size: 3rem;
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 10px;
}

.track_link {
  margin: 1rem 0;
  font-size: 1.3rem;
  letter-spacing: 3px;
  word-spacing: 7px;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 576px) {
}
